.clickable {
  cursor: pointer;
}

.color-box {
  display: block;
  width: 20px;
  height: 20px;
}

.page-title-div {
  @extend .mb-5;
  @extend .border-bottom;
}

.page-title {
  @extend .fs-1;
  @extend .text-decoration-none;
  @extend .text-primary;
  @extend .text-body;
}
