# Common
.dockerignore
*.md
docker-compose.yml
_config.yml
db.sqlite3
docs
.flake8
.github
.isort.cfg


# git
.git
.gitattributes
.gitignore

# JetBrains
.idea

# Node
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/node_modules/
**/dist

# python
.venv
.virtualenv
**/__pycache__/
**/*.py[cod]
