ALLOWED_HOSTS=localhost
DATABASE_URL="sqlite:////data/db.sqlite3"
FIRST_DAY_OF_WEEK=1
LANGUAGE_CODE=de-de
LOG_FILE_PATH=/data/stimmungskalender.log
REGISTRATION_OPEN=False
SECRET_KEY="PLEASE-CHANGE-ME"
STATIC_ROOT=/app/static/
TIME_ZONE=Europe/Berlin