[tool.poetry]
name = "stimmungskalender"
version = "1.7.0"
description = "Self-hosted mood calendar"
authors = ["Rainer Hihn <hihn.rainer@gmail.com>"]
license = "AGPL-3.0-only"

[tool.poetry.dependencies]
python = "^3.9"
Django = "^4.2"
dj-database-url = "^2.0.0"
dj-rest-auth = "^4.0.1"
django-cache-url = "^3.4.4"
django-cors-headers = "^4.1.0"
django-registration = "^3.3"
django-rosetta = "^0.9.9"
djangorestframework-dataclasses = "^1.2.0"
djangorestframework-simplejwt = "^5.2.2"
djangorestframework = "^3.14.0"
drf-spectacular = "^0.26.3"
ipython = "^8.14.0"
python-decouple = "^3.7"
django-bootstrap-v5 = "^1.0.11"
redis = "^4.6.0"
psycopg2-binary = "^2.9.7"
pyyaml = "^6.0.1"  # https://github.com/yaml/pyyaml/issues/601

[tool.poetry.group.dev.dependencies]
djangorestframework-stubs = "^3.14.2"
black = "^23.3.0"
djlint = "^1.31.1"
ipdb = "^0.13.11"
django-stubs = {extras = ["compatible-mypy"], version = "^4.2.1"}
flake8-django = "^1.3"
types-pkg-resources = "^0.1.3"
isort = "^5.12.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.djlint]
profile = "django"
