<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Login · Stimmungskalender</title>
        {% load static %}
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static '/img/apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static '/img/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static '/img/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static '/site.webmanifest' %}">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" type="text/css" href="{% static '/signin.css' %}">
    </head>
    <body class="d-flex flex-column h-100">
        {% block content %}
        {% endblock content %}
        <hr>
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <span class="text-muted">&copy; 2021-2022</span>
            </div>
        </footer>
        <script src="{% static '/main.js' %}"></script>
    </body>
</html>
