{% extends 'registration/base.html' %}
{% block content %}
    {% load i18n %}
    {% load bootstrap5 %}
    <main class="form-signin w-100 m-auto">
        <form method="post" action="{% url 'login' %}">
            <input type="hidden"
                   name="next"
                   value="{% if next %}{{ next }}{% else %}/{% endif %}"/>
            {% csrf_token %}
            <a href="{% url 'index' %}" class="h1 font-monospace text-body">stimmungs-</a>
            <a href="{% url 'index' %}" class="h1 font-monospace text-body">kalender</a>
            <hr class="mb-5">
            {% bootstrap_form form %}
            <button class="w-100 btn btn-lg btn-primary" type="submit">{% translate 'Log in' %}</button>
            <hr>
            <a href="{% url 'django_registration_register' %}">Register</a>
        </form>
    </main>
{% endblock %}
