{% load relative_url %}
{% load i18n %}
<!-- Date range filter -->
<form action="{% url 'graph' %}" method="get" class="mb-3">
    <div class="form-row align-items-end input-daterange">
        <div class="form-group col-12 col-md-3">
            <label for="start_dt" class="col-sm-2 col-form-label">{% translate 'start_date' %}</label>
            <input type="text"
                   data-provide="datepicker"
                   data-date-format="yyyy-mm-dd"
                   placeholder="YYYY-MM-DD"
                   data-date-week-start="1"
                   name="start_dt"
                   class="form-control"
                   id="start_dt"
                   value="{{ start_dt|date:'Y-m-d' }}"/>
        </div>
        <div class="form-group col-12 col-md-3">
            <label for="end_dt" class="col-sm-2 col-form-label">{% translate 'end_date' %}</label>
            <input type="text"
                   data-provide="datepicker"
                   data-date-format="yyyy-mm-dd"
                   placeholder="YYYY-MM-DD"
                   data-date-week-start="1"
                   name="end_dt"
                   class="form-control"
                   id="end_dt"
                   value="{{ end_dt|date:'Y-m-d' }}"/>
        </div>
        <div class="form-group col-12 col-md-2">
            <button type="submit" class="btn btn-primary">{% translate 'go_to' %}</button>
        </div>
    </div>
</form>
<!-- Date range buttons -->
<div class="row">
    <div class="col-12 col-md-2">
        <a href="{% relative_url first_day 'start_dt' params %}"
           class="my-2 my-md-0">{% translate 'from_start' %}</a>
    </div>
    {% with params=request.GET.urlencode %}
        <div class="col-12 col-md-2">
            <a href="{% relative_url last_week_start_dt 'start_dt' params %}"
               class="my-2 my-md-0">
                {% translate 'last_week' %}
            </a>
        </div>
        <div class="col-12 col-md-2">
            <a href="{% relative_url last_month_start_dt 'start_dt' params %}"
               class="my-2 my-md-0">
                {% translate 'last_month' %}
            </a>
        </div>
        <div class="col-12 col-md-2">
            <a href="{% relative_url last_year_start_dt 'start_dt' params %}"
               class="my-2 my-md-0">
                {% translate 'last_year' %}
            </a>
        </div>
    {% endwith %}
</div>
