{% load i18n %}
{% if mood_table.week.note %}
    <!-- djlint:off -->
    <div class="collapse multi-collapse show fw-lighter mt-4 fs-5 border border-1 rounded p-3"
             id="read-only-note">{{ mood_table.week.note }}
    </div>
    <!-- djlint:on -->
{% endif %}
<form method="post"
      action="{% url 'save-note' %}"
      id="edit-note"
      class="collapse multi-collapse">
    {% csrf_token %}
    <hr>
    <input type="hidden"
           name="week"
           value="{{ mood_table.week.week_date|date:'Y-m-d' }}">
    <div class="row p-1">
        <textarea id="note"
                  name="note"
                  class="form-control"
                  rows="7"
                  placeholder="{% translate 'what_happened_this_week' %}">{{ mood_table.week.note }}</textarea>
    </div>
    <button class="btn btn-primary  mt-3">{% translate 'save' %}</button>
</form>
