.clickable {
    cursor: pointer;
}

.sk-active {
    opacity: 100% !important;
    border-color: #343a40 !important;
}

.form-night {
    /* background-color: #343a40 !important; */
	/* background-color: #6c757d !important; */
    /* background-color: #eee !important; */
}

.color-box {
    display: block;
    width: 20px;
    height: 20px;
}