{% extends 'web/base.html' %}
{% load i18n %}
{% block title %}
    {% translate 'calendar' %}
{% endblock %}
{% block content %}
    <div class="page-title-div">
        <a href="{% url 'calendar' %}" class="page-title">{% translate 'calendar' %}</a>
    </div>
    <div id="calendar"></div>
    <div id="error-card" class="card invisible">
        <div class="card-body">
            <h5 class="card-title">Error loading calendar</h5>
            <div class="card-text" id="error-msg"></div>
        </div>
    </div>
{% endblock %}
{% block js %}{% endblock %}
