<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        {% load i18n %}
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Hihn">
        <title>
            {% block title %}
            {% endblock title %}
            · Stimmungskalender
        </title>
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static '/img/apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static '/img/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static '/img/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static '/site.webmanifest' %}">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <style>{% include 'web/css/moods.css' %}</style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">🗓️ Stimmungskalender</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'index' %}">{% translate 'diary' %}</a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.url_name == 'graph' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'graph' %}">{% translate 'graphs' %}</a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.url_name == 'calendar' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'calendar' %}">{% translate 'calendar' %}</a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.url_name == 'search' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'search' %}">{% translate 'search' %}</a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'settings' %}">{% translate 'settings' %}</a>
                        </li>
                    </ul>
                    <div class="form-check form-switch me-2">
                        <input class="form-check-input"
                               type="checkbox"
                               role="switch"
                               id="dark-theme">
                        <label class="form-check-label" for="dark-theme">☀️</label>
                    </div>
                    <div>
                        {% translate 'logged_in_as' %}: <span class="font-monospace">{{ user.get_username }}</span>
                    </div>
                </div>
            </div>
        </nav>
        <main class="container pt-3">
            {% block content %}
            {% endblock content %}
            {% include 'web/shared/i18n.html' %}
        </main>
        <footer class="my-5 pt-5 text-body-secondary text-center text-small">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="{% url 'index' %}">{% translate 'home' %}</a>
                </li>
                <li class="list-inline-item">
                    <a href="{% url 'logout' %}" title="Logout {{ user.get_username }}">{% translate 'logout' %}</a>
                </li>
            </ul>
        </footer>
        {% block js %}
        {% endblock js %}
        {{ api_urls|json_script:"api_urls" }}
        {{ mood_mapping|json_script:"mood_mapping" }}
        {{ mood_colors|json_script:"mood_colors" }}
        {{ active_url|json_script:"active_url" }}
        {% get_current_language as language_code %}
        {{ language_code|json_script:"current_language" }}
        <script src="{% static '/main.js' %}"></script>
    </body>
</html>
