{% extends 'web/base.html' %}
{% load i18n %}
{% block content %}
    <a href="{% url 'calendar' %}" class="h1 text-dark mb-2">{% translate 'calendar' %}</a>
    <div id="calendar"></div>
    <div id="error-card" class="card invisible">
        <div class="card-body">
            <h5 class="card-title">Error loading calendar</h5>
            <div class="card-text" id="error-msg"></div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {% get_current_language as language_code %}
    {{ entries|json_script:"entries" }}
    {{ site_url|json_script:"site_url" }}
    {{ mood_mapping|json_script:"mood_mapping" }}
    {{ mood_colors|json_script:"mood_colors" }}
    {{ language_code|json_script:"current_language" }}
    {% load static %}
    <script src="{% static '/js/skCalendar.js' %}"></script>
{% endblock %}
