{% extends 'web/base.html' %}
{% block content %}
    {% load i18n %}
    {% load relative_url %}
    <!-- Title -->
    <div class="pt-4 row">
        <div class="col-12 col-md-6">
            <a href="{% url 'graph' %}" class="h1 text-dark my-2 my-md-0">{% translate 'graphs' %}</a>
        </div>
        <div class="col-12 col-md-6 text-right d-flex flex-column">
            <a href="#scatterplot">{% translate 'scatterplot' %}</a>
            <a href="#pie-charts">{% translate 'pie_chart' %}</a>
        </div>
    </div>
    <hr>
    <div class="mt-3 mb-1">
        <a href="{% url 'graph' %}#date-filter"
           class="text-dark font-weight-bold"
           id="date-filter">
            {% translate 'date_filter' %}
        </a>
    </div>
    <div class="border p-3 bg-light border">{% include 'web/graph/date_select.html' %}</div>
    <hr>
    <!-- Date range display and markers/lines switch -->
    {% include 'web/graph/scatter.html' %}
    <hr>
    <!-- Pie charts -->
    {% include 'web/graph/pie_chart.html' %}
{% endblock %}
