{% extends 'web/base.html' %}
{% load i18n %}
{% block title %}
    {% translate 'graphs' %}
{% endblock %}
{% block content %}
    {% load relative_url %}
    <!-- Title -->
    <div class="pt-4 row">
        <div class="col-12 col-md-6">
            <a href="{% url 'graph' %}" class="h1 text-dark my-2 my-md-0">{% translate 'graphs' %}</a>
        </div>
    </div>
    <hr>
    <div class="mt-3 mb-1">
        <a href="{% url 'graph' %}" class="text-dark fw-bold">{% translate 'date_filter' %}</a>
    </div>
    <div class="border p-3 bg-light border">{% include 'web/graph/date_select.html' %}</div>
    <hr>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link clickable active"
               data-bs-target="#scatter"
               data-bs-toggle="tab">{% translate 'scatterplot' %}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link clickable" data-bs-target="#pie" data-bs-toggle="tab">{% translate 'pie_charts' %}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link clickable "
               data-bs-target="#average"
               data-bs-toggle="tab">{% translate 'average' %}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="scatter" role="tabpanel">{% include 'web/graph/scatter.html' %}</div>
        <div class="tab-pane fade" id="pie" role="tabpanel">{% include 'web/graph/pie_chart.html' %}</div>
        <div class="tab-pane fade " id="average" role="tabpanel">{% include 'web/graph/average.html' %}</div>
    </div>
    <hr>
{% endblock %}
{% block js %}
    {% load static %}
    <script src="{% static '/js/skDatePicker.js' %}"></script>
{% endblock %}
