{% extends 'web/base.html' %}
{% load i18n %}
{% block title %}
    {% translate 'graphs' %}
{% endblock %}
{% block content %}
    {% load relative_url %}
    <!-- Title -->
    <div class="pt-4 row">
        <div class="col-12 col-md-6">
            <a href="{% url 'graph' %}" class="h1 text-dark my-2 my-md-0">{% translate 'graphs' %}</a>
        </div>
    </div>
    <hr>
    <div class="mt-3 mb-1">
        <a href="{% url 'graph' %}" class="text-dark font-weight-bold">{% translate 'date_filter' %}</a>
    </div>
    <div class="border p-3 bg-light border">{% include 'web/graph/date_select.html' %}</div>
    <hr>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link clickable active" data-target="#scatter" data-toggle="tab">{% translate 'scatterplot' %}</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link clickable" data-target="#pie" data-toggle="tab">{% translate 'pie_charts' %}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active"
             id="scatter"
             role="tabpanel"
             aria-labelledby="scatter-tab">
            {% include 'web/graph/scatter.html' %}
        </div>
        <div class="tab-pane fade"
             id="pie"
             role="tabpanel"
             aria-labelledby="pie-tab">
            {% include 'web/graph/pie_chart.html' %}
        </div>
    </div>
    <hr>
{% endblock %}
{% block js %}
    {% load static %}
    <script src="{% static '/js/skDatePicker.js' %}"></script>
{% endblock %}
