{% load i18n %}
<!--
Need to be explicitly used since they are dynamically called/generated in the template
Unused keywords won't show up in rosetta
{% translate 'day_header' %}
{% translate 'night_header' %}
{% translate 'night_header' %}
{% translate 'first_page' %}
{% translate 'items_per_page' %}
{% translate 'last_page' %}
{% translate 'next_page' %}
{% translate 'previous_page' %}
{% translate 'page' %}
{% translate 'colors_enabled' %}
{% translate 'colors_enabled_label' %}
{% translate 'last_very_good_day' %}
{% translate 'last_very_bad_day' %}
{% translate 'last_very_good_night' %}
{% translate 'last_very_bad_night' %}
-->
