{% extends 'web/base.html' %}
{% load i18n %}
{% block title %}
    {% translate 'search' %}
{% endblock %}
{% block content %}
    {% load bootstrap4 %}
    {% load i18n %}
    <a href="{% url 'search' %}" class="h1 text-dark mb-2">{% translate 'search' %}</a>
    <hr>
    <form action="{% url 'search' %}" method="get">
        <div class="form-row">
            <div class="form-row col-12 col-md-12 input-daterange">
                <div class="form-group col-12 col-md-6">
                    <label for="start_date" class="col-sm-2 col-form-label">{% translate 'start_date' %}</label>
                    <input type="text"
                           class="form-control"
                           id="start_date"
                           name="start_dt"
                           placeholder="YYYY-MM-DD"
                           data-provide="datepicker"
                           data-date-format="yyyy-mm-dd"
                           data-date-autoclose="true"
                           value="{{ request.GET.start_date }}"/>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="end_date" class="col-sm-2 col-form-label">{% translate 'end_date' %}</label>
                    <input type="text"
                           class="form-control"
                           id="end_date"
                           name="end_dt"
                           placeholder="YYYY-MM-DD"
                           data-provide="datepicker"
                           data-date-format="yyyy-mm-dd"
                           data-date-autoclose="true"
                           value="{{ request.GET.end_date }}"/>
                </div>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="end_date" class="col-sm-2 col-form-label">{% translate 'mood' %}</label>
                <select name="mood" class="custom-select">
                    <option>
                        —
                    </option>
                    {% for it in moods %}
                        {% with mood=moods|get_item:it %}
                            <option value="{{ it }}"
                                    {% if request.GET.mood|add:"0" == it %}selected{% endif %}>
                                {{ mood }}
                            </option>
                        {% endwith %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="search_term" class="col-form-label">{% translate 'search_term' %}</label>
                <input type="text"
                       class="form-control"
                       id="search_term"
                       name="search_term"
                       placeholder="{% translate 'search_term' %}"
                       value="{{ request.GET.search_term }}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">{% translate 'go_to' %}</button>
            </div>
        </div>
    </form>
    <hr class="py-3">
    {% for week in results %}
        <div class="row border rounded p-3 my-3">
            <div class="col-12 col-md-3 d-flex flex-column">
                <a href="{% url 'index' %}?start_dt={{ week.week_date|date:'Y-m-d' }}"
                   class="flex-grow-1">
                    {% translate 'week' %} #{{ week.week_date|date:'W' }}
                </a>
                <small>
                    {{ week.week_date }}
                    —
                    {{ week.week_date|week_end_date }}
                </small>
            </div>
            <div class="col-12 col-md-6">
                <pre class="text-muted">{% if week.note %}{{ week.note }}{% endif %}</pre>
            </div>
            <div class="col-12 col-md-3">
                <a href="{% url 'graph' %}?start_date={{ week.week_date|date:'Y-m-d' }}"
                   class="flex-grow-1 d-flex justify-content-end">
                    Graph
                </a>
            </div>
        </div>
    {% endfor %}
    {% if paginator.num_pages > 1 %}
        <div class="pt-2">{% bootstrap_pagination results extra=""|add:parameters %}</div>
    {% endif %}
{% endblock %}
{% block js %}
    {% load static %}
    <script src="{% static '/js/skDatePicker.js' %}"></script>
{% endblock %}
