{% extends 'web/base.html' %}
{% load i18n %}
{% block title %}
    {% translate 'settings' %}
{% endblock %}
{% block content %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
    <a href="{% url 'settings' %}" class="h1 text-dark mb-2">{% translate 'settings' %}</a>
    <hr>
    {% include 'web/settings/language.html' %}
    <hr>
    {% include 'web/settings/default_view_mode.html' %}
    <hr>
    {% include 'web/settings/view_forms.html' %}
    <hr>
    {% include 'web/settings/mood_colors.html' %}
    <hr>
    <div class="d-flex flex-row-reverse">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item text-muted">Version {{ version }}</li>
            <li class="list-group-item">
                <a href="{% url 'export' %}">{% translate 'export_your_data' %}</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'schema' %}">API schema</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'swagger-ui' %}">API swagger UI</a>
            </li>
            <li class="list-group-item">
                <a href="https://github.com/rain0r/stimmungskalender/">stimmungskalender on GitHub</a>
            </li>
        </ul>
    </div>
{% endblock %}
