{% extends 'web/base.html' %}
{% block content %}
    {% load i18n %}
    <div class="d-flex flex-column flex-md-row align-items-baseline justify-content-between">
        <div class="d-flex mb-2 align-items-baseline">
            <a href="{% url 'index' %}?start_dt={{ mood_table.week_start|date:'Y-m-d' }}"
               class="h4 text-reset">{% translate 'week' %} #{{ mood_table.week.week_date|date:"W" }}</a>
            <span class="text-muted ml-5">
                {{ mood_table.week.week_date }}
                —
                {{ mood_table.week.week_date|week_end_date }}
            </span>
        </div>
        <div class="mb-2">
            <button class="btn {% if mood_table.week.note %} btn-primary {% else %} btn-outline-dark {% endif %}"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseNote"
                    aria-expanded="false"
                    aria-controls="collapseNote">
                {% translate 'note' %}
            </button>
            <a href="?start_dt={{ mood_table.prev_week }}"
               class="btn btn-outline-dark">{% translate 'prev' %}</a>
            <a href="?start_dt={{ mood_table.next_week }}"
               class="btn btn-outline-dark">{% translate 'next' %}</a>
        </div>
    </div>
    {% if mood_table.week.note %}
        <div class="alert alert-light">
            <pre>{{ mood_table.week.note }}</pre>
        </div>
    {% endif %}
    <form method="post"
          action="{% url 'save-note' %}"
          id="collapseNote"
          class="collapse">
        {% csrf_token %}
        <hr>
        <input type="hidden"
               name="week"
               value="{{ mood_table.week.week_date|date:'Y-m-d' }}">
        <div class="row p-1">
            <textarea id="note" name="note" class="form-control" rows="6" placeholder="{% translate 'what_happened_this_week' %}">{{ mood_table.week.note }}</textarea>
        </div>
        <div class="row mt-3">
            <button class="btn btn-primary">{% translate 'save' %}</button>
        </div>
    </form>
    <hr>
    {% for form in forms %}
        {% include 'web/index/form.html' with form=form %}
        <hr>
    {% endfor %}
    <span class="h4">{% translate 'jump_to_week' %}</span>
    <form method="get" action="{% url 'index' %}" class="my-3">
        <div class="form-row align-items-end">
            <div class="form-group col-12 col-md-2">
                <input type="text"
                       data-provide="datepicker"
                       data-date-format="yyyy-mm-dd"
                       data-date-autoclose="true"
                       placeholder="YYYY-MM-DD"
                       name="start_dt"
                       class="form-control"
                       data-date-week-start="1">
            </div>
            <div class="form-group col-12 col-md">
                <button class="btn btn-primary">{% translate 'go_to' %}</button>
            </div>
        </div>
    </form>
    <hr>
    {% include 'web/index/standout_data.html' %}
{% endblock %}
{% block js %}
    {% load static %}
    <script src="{% static '/js/skDatePicker.js' %}"></script>
{% endblock %}
